@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2'), url('/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* // https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet */
@font-face {
  font-family: 'Besley';
  src: url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.recharts-wrapper * {
  outline: none !important;
}

@layer base {
  html,
  body {
    font-family: 'Satoshi', sans-serif;
  }

  /* .token-list::-webkit-scrollbar-track {
    background: transparent; */
  /* } */

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 252 100% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 252 100% 65%;
    --chart-1: 252 100% 65%;
    --chart-2: 252 100% 55%;
    --chart-3: 252 100% 45%;
    --chart-4: 252 100% 75%;
    --chart-5: 252 100% 85%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 252 100% 65%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 252 100% 65%;
    --chart-1: 252 100% 65%;
    --chart-2: 252 100% 55%;
    --chart-3: 252 100% 45%;
    --chart-4: 252 100% 75%;
    --chart-5: 252 100% 85%;
  }
  .theme {
    --animate-shine: shine var(--duration) infinite linear;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @theme inline {
  --animate-grid: grid 15s linear infinite;

  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
} */

@theme inline {
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }

  @keyframes swim {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
